<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Data Analysis</title>
    <link rel="stylesheet" type="text/css"href="{{ url_for('static',filename='home.css')}}">

  
</head>
<body>
  
  <nav role="navigation">
   
    <div id="menuToggle">

    
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="/"><li>Home</li></a>
        <a href="probabilitydetector"><li>probability-detector</li></a>
        <a href="#"><li>Info</li></a>
        <a href="#"><li>Contact</li></a>
        <a href="#" target="_blank"><li>More</li></a>
      </ul>
    </div>
  </nav>
  <div>
    
  </div>
</div>
</body>
</html>
