<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Data Analysis</title>
</head>
<link rel="stylesheet" type="text/css"href="{{ url_for('static',filename='styles.css')}}">

<body>
    <div class="contianer">
        <div class="title">
            <p>probabilty of infection is {{infprob}}%</p>
        </div>
        <a href="/">
            <button class="button">
                Back
            </button>
        </a>
    </div>
</body>

</html